---
import "@/global.css";
import Navbar from "@/components/Navbar.astro";
import devil_bauer from "@assets/fonts/devil_bauer.woff2";

import icon_png from "@assets/bluedevil.png";
import Font from "astro/components/Font.astro";

interface Props {
  title: string;
  description: string;
  fetches?: { url: string; rel: string }[];
  selected?: string;
  headerless?: boolean;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>{props.title} | FRC 6324</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="title" content={props.title} />
    <meta name="description" content={props.description} />

    <Font cssVariable="--font-devil-bauer" />
    <Font cssVariable="--font-oswald" />

    {props.fetches?.map((fetch) => <link href={fetch.url} rel={fetch.rel} />)}

    <link rel="icon" type="image/png" href={icon_png.src} />
    <link rel="apple-touch-icon" type="image/png" href={icon_png.src} />

    <link rel="canonical" href="https://frc6324.com/" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <!-- OpenGraph -->
    <meta property="og:site_name" content="FRC 6324" />
    <meta property="og:title" content={props.title} />
    <meta property="og:description" content={props.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.routePattern} />
    <meta property="og:locale" content="en_US" />
  </head>

  <body>
    {
      !(props.headerless ?? false) ? (
        <Navbar pageSelected={props.selected} />
      ) : (
        <div />
      )
    }
    <slot />
  </body>
</html>
